*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

::selection{
  background-color: #48dbfb60;
}

::-webkit-scrollbar{
  width: 10px;
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb{
  background-color: #353b48;
}

.navbar{
  position: fixed;
  background-color: transparent;
  width: 100%;
  padding: 30px 0;
  top: 0;
  z-index: 999;
  transition: .3s linear;
}

.larg-interna{
  max-width: 1300px;
  margin: auto;
  padding: 0 40px;
}

.navbar .larg-interna{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  width: 90px;
  height: 80px;
  background-image: url(../img/icone/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.menu-responsivo{
  background: none;
  width: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  z-index: 999;
  display: none;
}

.menu-responsivo span{
  display: block;
  height: 3px;
  background-color: #ffffff;
  margin: 6px 0;
  position: relative;
  transition: .3s linear;
}

.navbar-menu a{
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  margin-left: 30px;
  transition: .2s linear;
}

.navbar-menu a:hover{
  color: #48dbfb !important;
}

.rolagem{
  background-color: #ffffff;
  padding: 18px 0;
}

.rolagem .logo{
  background-image: url(../img/icone/logo.png);
}

.rolagem .navbar-menu a{
  color: #111111;
}

.rolagem .menu-responsivo span{
  background-color: #111111;
}

#home{
  height: 100vh;
  min-height: 500px;
  background: url(../img/banner.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

#home .larg-interna{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

#home .home-info{
  width: 100%;
  color: #ffffff;
}

#home .home-info h1{
  font-size: 60px;
  margin-bottom: 60px;
}

.icones-midia a{
  color: #ffffff;
  font-size: 22px;
  margin: 0 10px;
  transition: .2s linear;
}

.icones-midia a:hover{
  color: #48dbfb;
}

#home .botoes{
  margin-top: 60px;
}

#home .botoes a{
  display: inline-block;
  margin: 15px 30px;
  color: #48dbfb;
  font-size: 15px;
  font-weight: 500;
  width: 180px;
  border: 1px solid #7159c1;
  padding: 14px 0;
  border-radius: 6px;
  transition: .2s linear;
}

#home .botoes a:hover,
#home .botoes a:nth-child(2){
  background-color: #7159c1;
  color: #ffffff;
}

section{
  padding: 150px 0;
  background-color: #f1f1f1;
}

.titulo{
  text-align: center;
  margin-bottom: 80px;
  position: relative;
  font-size: 26px;
  padding-bottom: 20px;
  color: #111111;
}

.titulo::before{
  content: "";
  position: absolute;
  width: 80px;
  height: 3px;
  background-color: #111111;
  bottom: 0;
  left: calc(50% - 40px);
}

.titulo::after{
  content: "";
  position: absolute;
  width: 16px;
  height: 10px;
  background-color: #48dbfb;
  border: 4px solid #f1f1f1;
  left: calc(50% - 12px);
  bottom: -7px;
}

.apresentacao-objetivo{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.sobremim-logo{
  width: 200px;
  border-radius: 50%;
  margin-right: 100px;
}

.resumo{
  flex: 1;
  margin-right: 40px;
}

.resumo h3{
  margin: 8px 0;
  color: #444444;
  font-size: 16px;
}

.resumo h3 span:nth-child(1):after,
.resumo h3 span:nth-child(2):after{
  content: "";
  width: 6px;
  height: 6px;
  background-color: #444444;
  display: inline-block;
  border-radius: 50%;
  margin: 0 14px;
}

.resumo p{
  font-size: 17px;
  text-align: justify;
  line-height: 26px;
  margin-top: 20px;
}

.objetivo{
  flex: 1;
  float: initial;
}

.objetivo p{
  font-size: 17px;
  text-align: justify;
  line-height: 26px;
  margin-top: 20px;
}

.skills{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skill{
  width: calc(50% - 20px);
  margin: 15px 0;
}

.skill-info{
  display: flex;
  justify-content: space-between;
}

.skill-bar{
  height: 3px;
  background-color: #dddddd;
  margin-top: 14px;
  position: relative;
}

.skill-bar::after{
  content: "";
  position: absolute;
  height: 6px;
  background-color: #48dbfb;
  bottom: 0;
}

/* SKILLS */
.html:after{
  width: 90%;
}

.css:after{
  width: 80%;
}

.js:after{
  width: 70%;
}

.php:after{
  width: 80%;
}

.python:after{
  width: 70%;
}

.sql:after{
  width: 90%;
}

.ingles-read:after{
  width: 80%;
}

.cs:after{
  width: 60%;
}
/* SKILLS */

section.dark{
  background-color: #353b48;
}

section.dark .titulo{
  color: #f1f1f1;
}

section.dark .titulo::before{
  background-color: #f1f1f1;
}

section.dark .titulo::after{
  border: 4px solid #353b48;
}

.icones-midia{
  color: #48dbfb;
  font-size: 40px;
  margin-bottom: 20px;
  transition: .3s linear;
}

.time-line{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card{
  width: calc(50% - 20px);
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin: 10px 0;
  padding: 30px;
  position: relative;
}

.card::before{
  content: "";
  position: absolute;
  width: 1px;
  height: 120%;
  background-color: #dddddd;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}

.card::after{
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #48dbfb;
  left: -28px;
  top: 30px;
  border-radius: 50%;
}

.card h3{
  font-size: 16px;
  margin: 10px 0;
}

.card p{
  font-size: 15px;
  color: #444444;
}

.contato-info{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.contato-info .item{
  width: calc(33% - 20px);
  height: 160px;
  background-color: #353b48;
  color: #ffffff;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  transition: .3s linear;
}

.contato-info i{
  display: block;
  font-size: 40px;
  line-height: 120px;
  height: 100px;
}

.contato-info .item:hover{
  background-color: #48dbfb;
}

.contato-form{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contato-form input, .contato-form textarea{
  width: 100%;
  height: 50px;
  margin: 10px 0;
  background-color: #353b48;
  border: none;
  outline: none;
  padding: 20px;
  border-radius: 4px;
  color: #ffffff;
}

.campo-nome, .campo-email{
  max-width: calc(50% - 10px);
}

.campo-mensagem{
  min-height: 200px;
  resize: vertical;
}

.contato-form .botao{
  width: 180px;
  background-color: transparent;
  color: #48dbfb;
  font-size: 16px;
  border: 2px solid #48dbfb;
  padding: 0;
  margin-left: auto;
  cursor: pointer;
  transition: .3s linear;
}

.contato-form .botao:hover{
  background-color: #48dbfb;
  color: #ffffff;
}

footer{
  background: #353b48;
  color: #ffffff;
  padding: 50px 0;
  text-align: center;
}

.rodape-info{
  margin-bottom: 20px;
  font-size: 15px;
}

.rodape-info a{
  font-size: 16px;
  color: #48dbfb;
  font-weight: 500;
}

.va-ao-topo{
  position: fixed;
  z-index: 999;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  background-color: #7159c1;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: #ffffff;
  outline: none;
  display: none;
}

@media screen and (max-width: 980px){
  .menu-responsivo{
    display: block;
  }

  .navbar-menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #353b48;
    top: 0;
    right: -100%;
    max-width: 400px;
    padding: 80px 50px;
    transition: .3s linear;
  }

  .navbar-menu a{
    display: block;
    font-size: 30px;
    margin: 30px 0;
  }

  .rolagem .navbar-menu{
    background-color: #f1f1f1;
  }
  
  .navbar-menu.active{
    right: 0;
  }

  .menu-responsivo.active span:nth-child(1){
    transform: rotate(-45deg);
    top: 4px;
  }

  .menu-responsivo.active span:nth-child(2){
    opacity: 0;
  }

  .menu-responsivo.active span:nth-child(3){
    transform: rotate(45deg);
    bottom: 14px;
  }

  .larg-interna{
    max-width: 800px;
  }

  .sobremim-logo{
    margin: 0 auto 60px;
  }

  .resumo{
    flex: 100%;
    text-align: center;
  }

  .card{
    width: calc(100% - 20px);
    margin-left: auto;
  }

  .contato-info .item{
    width: 100%;
    margin: 10px 0;
  }
}

@media screen and (max-width: 600px){
  .larg-interna{
    padding: 0 20px;
  }

  .skill{
    width: 100%;
  }

  .campo-nome, .campo-email{
    max-width: 100%;
  }
}